@tailwind base;
@tailwind components;
@tailwind utilities;

.ls-page li {
  list-style-type: none;
}

.ls-page-preview {
  max-height: 400px;
  overflow-y: auto;
  @apply p-4;
}

.prose ul > li::before {
  display: none;
}
